<launch>
  <!-- joy node -->
  <node pkg="joy" type="joy_node" name="lightrover_joy" respawn="true" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.1" />
  </node>

  <!-- joycon -->
  <node pkg="lightrover_ros" type="i2c_controller.py" name="rover_i2c_controller" />
  <node pkg="lightrover_ros" type="odometry.py" name="rover_odometry" />
  <node pkg="lightrover_ros" type="pos_controller.py" name="rover_pos" />
  <node pkg="lightrover_ros" type="rover_gamepad.py" name="rover_gamepad" />

</launch>
